body{
    background-color: rgba(248, 244, 237, 0.952);
}

.decrease, .enlarge{
    width: 40px;
    background-color: inherit;
    border: none;
    font-weight: bold;
}

.button{
    width: 10%;
}
#fname{
    background-color: inherit;
}

.city{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-icon{
    background-color: rgb(153, 102, 102);
    color: white;
    height: 24px;
    font-size: 12px;
}
