body{
    background-color: rgb(76, 10, 138);
}
.row{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    border-radius: 15px;
}

.decrease, .enlarge{
    width: 80px;
    background-color: inherit;
    border: none;
    font-weight: bold;
    color: rgb(246, 248, 248);
    background-color: rgb(78, 156, 224);
    margin-left: 10px;
    border-radius: 10px;
    width: 70px;
    
}

#fname{
    background-color: inherit;
    border-radius: 20px;
}
.submit{
    border-radius: 20px;
    width: 15%;
    background-color: orange;
    color: white;
    
}

.row .ul{
    width: 380px;
}
.city{
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
}

.delete-icon{
    background-color: rgb(153, 102, 102);
    color: white;
    height: 24px;
    font-size: 12px;
    width: 60px;
}
